<ion-header>
  <ion-toolbar>
    <ion-title>Contact</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item href="https://bit.ly/3N0Nmgh">
    <ion-label>
      Contact us from our webpage
    </ion-label>
  </ion-item>
  <ion-item href="joku@coursefinderpro.fi">
    <ion-label>
      Email us
    </ion-label>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-label>PO: Kurssitie 33, 02980 ESPOO</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
