<ion-header>
  <ion-toolbar>
    <ion-title>Contact</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Contact</ion-card-subtitle>
      <ion-card-title>Email</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Simo@coursefinderpro.fi
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>Post address</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      PO: Kurssitie 33, 02980 ESPOO
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>Phone number</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      0500677433
    </ion-card-content>
  </ion-card>
</ion-content>
