<ion-header>
  <ion-toolbar>
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="content">

  <div class="course">
    <ion-grid>
      <ion-row>
        <ion-col class="courseName">
          Course name
        </ion-col>
        <ion-col >
        </ion-col>
        <ion-col >
          <ion-icon name="image-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="courseStatus">
          Course status
        </ion-col>
        <ion-col >
        </ion-col>
        <ion-col >
          <ion-button size="small" (click)="details()">
            <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          dd.mm.yyyy hh:mm
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
</ion-content>
