<ion-header>
  <ion-toolbar>
    <ion-title>Schedule</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="content">

  <div color="medium" class="course">
    <ion-grid>
      <ion-row>
        <ion-col class="courseName">
          Introductions
        </ion-col>
        <ion-col >
        </ion-col>
        <ion-col >
          <ion-icon name="image-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="courseStatus">
          <p>Course</p>
          <p>Status:</p>
          <p>Finished</p>
        </ion-col>
        <ion-col >
        </ion-col>
        <ion-col >
          <ion-button color="light" size="small" (click)="details1()">
            <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          05/05/2022 12:00
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="course">
    <ion-grid>
      <ion-row>
        <ion-col class="courseName">
          Java Coding
        </ion-col>
        <ion-col >
        </ion-col>
        <ion-col >
          <ion-icon name="image-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="courseStatus">
          <p>Course</p>
          <p>Status:</p>
          <p>Started</p>
        </ion-col>
        <ion-col >
        </ion-col>
        <ion-col >
          <ion-button color="light" size="small" (click)="details2()">
            <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          07/05/2022 09:00
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="course">
    <ion-grid>
      <ion-row>
        <ion-col class="courseName">
          Python Coding
        </ion-col>
        <ion-col >
        </ion-col>
        <ion-col >
          <ion-icon name="image-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="courseStatus">
          <p>Course</p>
          <p>Status:</p>
          <p>Not started</p>
        </ion-col>
        <ion-col >
        </ion-col>
        <ion-col >
          <ion-button color="light" size="small" (click)="details3()">
            <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          11/05/2022 18:00
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</div>
</ion-content>
