<ion-content>
  <div  class="flex-center">
  <ion-card>
    <img src="https://www.logolynx.com/images/logolynx/e1/e1f7b2d65c30e86f509c4ef5cba31ac0.jpeg" /> <!--replace with app logo-->
    <ion-card-header>
      <ion-card-title>CourseFinderPro</ion-card-title>
      <ion-card-subtitle>Log in to get the full experience of the app</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="buttons">
        <ion-button expand="block" (click)="home()">Sign up with Facebook</ion-button>
        <ion-button expand="block" (click)="home()">Sign up with Instagram</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="home()" color="tertiary">Skip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>