/* Content */
ion-content {
    img {
        width: 80%;
        margin-top: 15px;
    }
    ion-card-title {
        text-align: center;
    }
    ion-card-subtitle {
        text-align: center;
    }
    .buttons {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        p {
            font-size: smaller;
            text-transform: none;
        }
    }
    ion-card {
        box-shadow: none !important;
    }
}

/* Footer */
ion-footer {
    height: 10%;
}