<ion-header class="ion-no-border">
  <ion-list>
    <ion-item>
      <img src="" alt="LOGO">
    </ion-item>
    <ion-item>
      <h1>CourseFinderPro</h1>
    </ion-item>
    <ion-item>
      <p>Find your course in life</p>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <p>Log in to get the full experience of the app</p>
    </ion-item>
  </ion-list>
  <div class="buttons">
    <ion-button expand="block" (click)="home()">Sign up with Facebook</ion-button>
    <ion-button expand="block" (click)="home()">Sign up with Instagram</ion-button>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="home()" color="tertiary">Skip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>