<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <ion-card>
                    <img src="https://p1.pxfuel.com/preview/997/777/81/person-thumbs-up-smiling-success.jpg" />
                    <ion-card-header>

                        <ion-card-title>Lenora Medina</ion-card-title>
                    </ion-card-header>

                </ion-card>
                <ion-list id="content-list">



                    <ion-menu-toggle auto-hide="true" *ngFor="let p of appPages; let i = index">
                        <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                            <ion-label>{{ p.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>


            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>