<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" routerLink="/schedule" routerDirection="root">Schedule</ion-button>
  <!-- Tää on vain testausta varten -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Uutiset</ion-card-subtitle>
      <ion-card-title>Leppävaaran kampukselta löytyi lakki</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lakki on oranssi, ja siinä on käsinkirjoitettu teksti. Lakin saa tuntomerkkejä vastaan löytötavarakeskuksesta.
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>Muistathan vaihto-opiskelun</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Viimeinen mahdollisuus ilmoittautua on 23:59 torstaina, 26.5.2022.
    </ion-card-content>
  </ion-card>
  
</ion-content>
