<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button expand="block" routerLink="/schedule" routerDirection="root">Schedule</ion-button>
  Tää on vain testausta varten -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>News</ion-card-subtitle>
      <ion-card-title>A cap was found at Laurea Leppävaara</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      The cap's color is orange and it has something handwritten on the inside of it. The cap can be redeemed from the lost-and-found, if you can describe the text.
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>Remember the student exchange program</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Last chance to enroll is 23:59 on thursday, 26.5.2022.
    </ion-card-content>
  </ion-card>
  
</ion-content>
